  :root {
  --main-color: blue;
  }

  *{

    font-family: 'Roboto', sans-serif;
 }

  p{
      color: white;
  }

  h2, h3{
      color: blue;
  }

  .line{

    height: 1px;
    border: 1px solid white;
  }

  .bg-header{
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url('./media/moon.jpg');
    min-height: 75vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}

 .col-height1 {

    height: 70vh;
 }

 .col-height2{

    height: 5vh;
 }
 
.icon{
    color: var(--main-color);
}

.bg-section{

    background-color: black;
    min-height: 20vh;
}

.line2{

    height: 1px;
    border: 1px solid blue;
    width: 80%;
    margin-top: 20px;
    
    
}

.bg-section2{

    background-color: black;
    height: 70vh;
}

.altezza{
    height: 20vh;
}

.spostamento{
    position: relative;
}

.shift{
    position: absolute;
    top: 24px;
    left: 80px;
}

.bg-section3{

    background-color: black;
    height: 170vh;
}

.altezza-row{

    height: 70vh;
}

.bg-section4{

    background-color: black;
    height: 100vh;
}

.altezza-row2{
    height: 50vh;
}

.bg-footer{

    background-image: url('./media/sunrise-1765027_1920.jpg');
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;

}

.btncustom{

    background-color: blue;
    border: 1px solid blue;
    
}